{
    "hidden-layer": {
        "allowedDomains": ["test.test", "testtest.org", "asdf.com"],
        "dirNames": ["test-layer", "test-layer-xyz"]
    },
    "another-hidden-layer": {
        "allowedDomains": ["example.com", "test.test"],
        "dirNames": ["some-data"]
    }
}
